@import "tailwindcss";
/* html, body {
  overflow: hidden;
} */
/* Agar maxsus elementlarda scroll bo'lsa ham yashirish */
* {
  scrollbar-width: none; /* Firefox uchun */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge uchun */
}


/* index.css yoki global.css */
.custom-scroll {
  scrollbar-width: none;   /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
  width: 0;  /* Chrome, Safari, Edge */
  height: 0;
}


.layoutBackground , .layoutBackground2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layoutBackground{
  background-image: url("assets/fon.png");
}
.layoutBackground2{
  background-image: url("assets/Fon2.png");
}
.logo {
  width: 370px;            /* kerakli o'lcham */
  height: 370px;
  border-radius: 50%;     /* aylana qilish */
  overflow: hidden;       /* burchaklarni kesib tashlash */
  display: inline-block;
  margin-bottom: 30px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* rasm maydonni to'ldirsin, deformatsiya yo'q */
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

html, body {
  touch-action: manipulation;
  overscroll-behavior: none;
}



@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}
